{% include header.html %}

<section role="main" id="main">

  <div class="wrapper">

    <div class="heading">
      <span>{{ page.date | date: "%B %e, %Y" }}</span>
      <h1>{{ page.title }}</h1>
    </div>

    {{ content }}

    <div id="aboutMe" class="clearfix">

      <div id="gravatarWrapper">

        <img src="http://gravatar.com/avatar/1bbd6316097511709d3b9c7a6f6cca41?s=84" alt="{{ site.author.name }}" width="84" height="84" />

      </div>

      <p>Arthur Gouveia is a Web Developer &amp; a nerdy/geeky person.</p>

      <p>Here's his <a href="{{ site.author.twitter }}">Twitter Profile</a> &amp; his <a href="{{ site.author.github }}">GitHub Stuff</a>.</p>

      <p>Feel free to send him an <a href="mailto:&#097;&#114;&#116;&#104;&#117;&#114;&#046;&#103;&#111;&#117;&#118;&#101;&#105;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a>.

      <p>

      {% if page.tweet %}

          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-via="ArthurGouveia" data-text="{{ page.tweet }}" data-url="http://arthurgouveia.com{{ page.url }}" data-count="none">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      {% endif %}

        <a href="https://twitter.com/arthurgouveia" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @ArthurGouveia</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </p>

    </div>

  </div>

</section>

{% include footer.html %}